<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb16">Extended Plans</h2>
                <h4 class="lead mb64">
                    Prices: these are examples, we can provide any package size you require
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 text-center">
                    <h5 class="uppercase">Individual</h5>
                    <span class="price">$99</span>
                    <p class="lead">Per User / Month</p>
                    <h4>
                        <strong>1 User</strong>
                    </h4>
                    <ul>
                        <li>
                            <strong>Full access for 1 person</strong>
                        </li>
                        <li>
                            <strong>Ideal for evaluation</strong>
                        </li>
                        <li>
                            <strong>Total Price: $99/month</strong>
                        </li>
                    </ul>
                    <a class="btn btn-lg" href="#">Free Trial</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 boxed text-center">
                    <h5 class="uppercase">Team</h5>
                    <span class="price">$70</span>
                    <p class="lead">Per User / Month</p>
                    <h4>
                        <strong>15 User</strong>
                    </h4>
                    <ul>
                        <li>
                            <strong>Full functionality</strong>
                        </li>
                        <li>
                            <strong>Ideal for Team</strong>
                        </li>
                        <li>
                            <strong>Total Price: $1.050/month</strong>
                        </li>
                    </ul>
                    <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 emphasis text-center">
                    <h5 class="uppercase">Business</h5>
                    <span class="price">$50</span>
                    <p class="lead">Per User / Month</p>
                    <h5>
                        <strong>50 User</strong>
                    </h5>
                    <ul>
                        <li>
                            <strong>Preferred package</strong>
                        </li>
                        <li>
                            <strong>Perfect for business</strong>
                        </li>
                        <li>
                            <strong>Dedicated account manager</strong>
                        </li>
                        <li>
                            <strong>Total Price: $2.500/month</strong>
                        </li>
                    </ul>
                    <a class="btn btn-white btn-lg" href="#">Get Started</a>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="bg-secondary">
    <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-5">
                <h3>Join us for a day of
                    <br> ideas &amp; discussion.</h3>
                <p class="lead mb40">
                    Prices above  these are examples, we can provide any package size you require

                </p>
                <div class="overflow-hidden mb32 mb-xs-24">
                    <i class="ti-package icon icon-sm pull-left"></i>
                    <h6 class="uppercase mb0 inline-block p32">All Inclusive Package</h6>
                </div>
                <div class="overflow-hidden mb32 mb-xs-24">
                    <i class="ti-medall-alt icon icon-sm pull-left"></i>
                    <h6 class="uppercase mb0 inline-block p32">Hasya BSC Club Access</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-1 text-center emphasis">
                    <h5 class="uppercase">Enterprise</h5>
                    <span class="price">*****</span>
                    <a class="btn btn-white btn-lg" href="#">Contact Us</a>
                    <p>
                        <a href="#">Contact Us for Enterprise</a>
                        <br> dedicated support
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>