<section class="fullscreen image-bg parallax background-multiply">
  <div class="background-image-holder">
    <img alt="image" class="background-image" src="img/app/banner01.jpg">
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="thin mb0"> We're a different kind of software company. </h1>
      </div>
    </div>

  </div>

  <div class="align-bottom text-center">
    <a class="btn btn-white mb32" href="/contact">Pitch Us</a>
  </div>
</section>


<section class="image-square right">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="img/app/banner02.jpg">
    </div>
  </div>
  <div class="col-md-6 content">
    <h3>What is Hasya Performa?</h3>
    <p class="mb0 lead">
      We're a community of performance management enthusiasts, software developers, and support staff. We believe in hiring only
      the best people and then treating them incredibly well. Happy employees translates into better ideas, better productivity,
      and ultimately better products. It may not be the most common way to run a software company, but we think it's the
      best.
    </p>
  </div>
</section>

<section class="image-square left">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="img/app/banner03.jpg">
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content">
    <h3>Our Vision</h3>
    <p class="lead">
      We want to be the recognized market leader in performance management software. We're not there yet, but we're getting closer
      every day.
      <p class="mb0 lead">
        We won't do it with the largest marketing budget or the biggest sales staff. Instead, we'll keep doing what got us here in
        the first place. We're going to focus on our customers, be creative, and work hard. We hope you'll join us for the
        ride.
      </p>
  </div>
</section>


<section class="image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background" class="background-image" src="img/app/banner04.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb16">Our Core Values</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="ti-package icon"></i>
            <h5 class="uppercase">Simple is Better than More</h5>
          </div>
          <p>
            We carefully choose features to include in our software. We agonize over every screen to make sure it's as simple as possible.
            We obsess over small details so you won't notice them.
          </p>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="ti-infinite icon"></i>
            <h5 class="uppercase">Learning with our Customers</h5>
          </div>
          <p>
            We don't know exactly what our software will look like 5 years from now, and we don't start with all of the answers. Our
            customers sure have questions, though, and we work with them to find the best solutions to their problems. Every
            enhancement we code is a direct response to their needs. Every new feature is driven by their feedback.
          </p>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="ti-heart icon"></i>
            <h5 class="uppercase">Constant Improvement</h5>
          </div>
          <p>
            From time to time, we release major new software versions or even entirely new products. More often, however, our software
            development engine is focused on constant, iterative improvements. We believe in starting with a good idea and
            then relentlessly refining it over years.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb0 inline-block p32 p0-xs">You can't win if you don't know the score.</h3>
        <a class="btn btn-lg btn-white mb8 mt-xs-24" href="/contact">CONTACT US</a>
      </div>
    </div>
  </div>
</section>