<section class="bg-primary pb0">
  <div class="container">
    <div class="row mb24 mb-xs-0">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="large">
          <strong>QuickScore</strong>
        </h1>
        <h3 class="lead">
          <strong>
            The fastest way to bring your Balanced Scorecard to life.
          </strong>
          <br> QuickScore is software that fully automates your Balanced Scorecard
          <br> with Strategy Maps, Reports, and Alerts.
      </div>
    </div>
    <div class="row">
      <img alt="image" src="img/app/software.png">
    </div>
    <div style="height: 80px; display: block"></div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="ti-pulse icon"></i>
            <h4>AUTOMATE YOUR SCORECARD</h4>
          </div>
          <p>
            QuickScore is the fastest and easiest way to automate your Balanced Scorecard. Just enter your perspectives, objectives,
            and measures. Then update your measures with actual performance values every month.
          </p>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="feature feature-1 boxed">
          <div class="text-center">
            <i class="ti-dashboard icon"></i>
            <h4>BEAUTIFUL STRATEGY MAPS</h4>
          </div>
          <p>
            Once you've built your balanced scorecard, creating an attractive strategy map is a snap. You just move and resize colored
            bubbles that represent your strategic objectives. Now you can see how well everything is performing at a glance.
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="container pt80">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3">
          <div class="left">
            <i class="ti ti-cloud icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Cloud Software
              <br>
            </h5>
            <p>You use Scoreboard in a web browser, so there's never anything to install or update.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="ti ti-tablet icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Any Device
              <br>
            </h5>
            <p>Scoreboard works great on screens of all sizes, from your mobile phone to your boardroom projector.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="ti-dashboard icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Share With Anyone
              <br>
            </h5>
            <p>Share your live dashboards for free. Guests don't need a license, and they don't have to log in.
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="cast-shadow mb-xs-24" src="img/app/software11.jpg">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Balanced Scorecard Software</h3>
      <p class="lead">
        Hosted in the Cloud, nothing to install or update. The only software formally recommended by the Balanced Scorecard Institute.
      </p>
      <p class="lead">
        Build your scorecards quickly and easily with our intuitive interface. You don’t have to worry about the structure, we will
        take care of that. All you have to do is get your data into the system.
      </p>
      <p class="lead">
        We will even help you get started free of charge. Simply send us 10-30 metrics and we will build a pilot system with a scorecard,
        dashboard and report so you can see your data in place.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software04.png">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Create Stylish Dashboards</h3>
        <p class="lead">
          Dashboards can be created using any of the data added to the system. This includes the metrics from your scorecards, graphs,
          strategy maps and images. The drag and drop interface means your dashboards can be created in minutes. And don’t
          forget – they will be updated automatically whenever you update your scorecards – so no more PowerPoint!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-4 col-sm-5 mb-xs-24">
        <h3>Construct Strategy Maps</h3>
        <p class="lead">
          Creating a strategy map is easy. Simply select, move and resize coloured bubbles that represent strategic objectives. QuickScore
          automatically updates the bubbles’ colours based on the latest performance data.
        </p>
        <p class="lead">
          Strategy maps show how your business is performing at a glance. For more detailed information, click on one of the coloured
          bubbles and drill down to objectives, metrics or initiatives.
        </p>
      </div>
      <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software12.png">
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-4 col-sm-5 mb-xs-24">
        <h3>Track Goals Over Time</h3>
        <p class="lead">
          All Key Performance Indicators and business objectives can be tracked over time with Scoreboard. Years of data can be viewed
          easily. Very old data can be archived at the touch of a button.
        </p>
        <p class="lead">
          In addition, with QuickScore, performance thresholds can be changed and tracked as well. Bear in mind business performance
          goals may not be the same today as they were yesterday.
          <span>F4</span>
        </p>
      </div>
      <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software06.jpg">
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Screenshot" class="mb-xs-24" src="img/app/software05.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h3 class="mb40 mb-xs-16">Clarity of purpose – what you need and when you need it.</h3>
      <p class="lead mb40">
        All of the screens presented in QuickScore have one thing in mind – to give you what you need, when you need it. This clarity
        of purpose is the main aim of QuickScore. No distractions, just the information you need to run your business.
      </p>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software07.jpg">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Spreadsheet Styled Reports</h3>
        <p class="lead">
          If you prefer to work with numbers rather than dials and graphs then QuickScore has a point-and-click report generator. You
          can build as many row and column reports as you like. These can be filtered to include or exclude all of the elements
          that make up your scorecard.
        </p>
        <a class="btn" href="#">Try QuickScore</a>
      </div>
    </div>
  </div>
</section>


<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="cast-shadow mb-xs-24" src="img/app/software08.jpg">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Powerful Search Facility</h3>
      <p class="lead mb40">
        Free-form search will return all of the objects you are looking for. Objects can be tagged to enable group searches. You
        can get to the root of any problem by viewing underlying data, analysing metric trends, and reading other people’s
        comments.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software09.jpg">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Useful Alert Subscriptions</h3>
        <p class="lead">
          Stay informed with useful alert subscriptions. Formal reviews may only be held once a month or once a quarter, it is essential
          to be kept informed.
        </p>
        <p class="lead">
          Set up alerts based on immediate triggers so you will never be surprised again. These can be scores going into the red or
          notes being added or a actual values moving outside a defined threshold
        </p>
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="mb-xs-24" src="img/app/software.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Nothing to Install</h3>
      <p class="lead mb40">
        QuickScore is a browser based application, as a result there is no installation required. We take care of the servers, operating
        system and the application. We apply updates so you do not have to worry. If you want to run QuickScore in your own
        data centre, we can do that as well. We would be happy to provide you with the software.
      </p>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img alt="Screenshot" src="img/app/software10.jpg">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Mobile Enabled</h3>
        <p class="lead">
          Scoreboard KPI software software is fully mobile enabled and the application has been built using a responsive platform.
        </p>
        <p class="lead">
          This means you can use all of the application features on what ever device you like from phone to tablet to laptop to desktop.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="image-square left bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="img/cover16.jpg">
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content">
    <h3>Free Online Training
      <br>
    </h3>
    <p class="mb0 lead">QuickScore is very intuitive as an application. However, we are very happy to provide one-hour free online training to
      get you started. If you prefer to do things yourself, there are over 25 guides for our KPI Software ranging from getting-started
      to more complex integration and import. If you have a complex need, we can provide a full-day training session at your
      offices. For more information on Scoreboard training go to the Training pages.&nbsp;
      <br>
    </p>
  </div>
</section>

<section>
  <div class="container">
    <div class="feed-item mb96 mb-xs-48">
      <div class="row mb16 mb-xs-0">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h3>Balanced Scorecard Software and KPI Management</h3>
        </div>
      </div>
      <div class="row mb32 mb-xs-16">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <p class="lead">
            QuickScore is aimed at organisations that use or intend to use the Balanced Scorecard Methodology. However, QuickScore is
            a remarkable KPI Manager as well. QuickScore makes it easy for you to set up a Balanced Scorecard so you do not
            have to concern yourself with structure or terminology.
          </p>
          <p class="lead">
            If you would prefer to use a KPI manager that does not use the Balanced Scorecard language, then its sister product, Scoreboard
            might be a better fit for your organisation. Scoreboard uses a more generic performance language. For example
            where QuickScore would use the term Perspective to describe a group of objectives, Scoreboard would would use
            the term Key Performance Area. Apart from the differences in terminology, both applications are exactly the same.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>