<section class="bg-primary pb0">
  <div class="container pt80">
    <div class="row mb24 mb-xs-0">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1>Simple & Effective</h1>
        <h1 class="large">
          <strong>KPI Management</strong> software</h1>
        <h3 class="lead">
          <strong>Helps you build Scorecards, Dashboards and Reports</strong>
          <br> and then manage them on your Browser, Tablet or Phone
        </h3>
      </div>
    </div>
    <div class="row mb80 mb-xs-24">
      <div class="col-sm-6 col-sm-offset-3">
        <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" name="email" class="transparent validate-email validate-required signup-email-field" placeholder="Email Address">
          <button type="submit" class="btn-white">Start Free</button>
          <iframe srcdoc="<!-- Begin MailChimp Signup Form --><link href=&quot;https://cdn-images.mailchimp.com/embedcode/classic-081711.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;><style type=&quot;text/css&quot;>    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</style><div id=&quot;mc_embed_signup&quot;><form action=&quot;//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=94d040322a&quot; method=&quot;post&quot; id=&quot;mc-embedded-subscribe-form&quot; name=&quot;mc-embedded-subscribe-form&quot; class=&quot;validate&quot; target=&quot;_blank&quot; novalidate>    <div id=&quot;mc_embed_signup_scroll&quot;>    <h2>Subscribe to our mailing list</h2><div class=&quot;indicates-required&quot;><span class=&quot;asterisk&quot;>*</span> indicates required</div><div class=&quot;mc-field-group&quot;>    <label for=&quot;mce-EMAIL&quot;>Email Address  <span class=&quot;asterisk&quot;>*</span></label>    <input type=&quot;email&quot; value=&quot;&quot; name=&quot;EMAIL&quot; class=&quot;required email&quot; id=&quot;mce-EMAIL&quot;></div><div class=&quot;mc-field-group&quot;>    <label for=&quot;mce-FNAME&quot;>First Name </label>    <input type=&quot;text&quot; value=&quot;&quot; name=&quot;FNAME&quot; class=&quot;&quot; id=&quot;mce-FNAME&quot;></div><div class=&quot;mc-field-group&quot;>    <label for=&quot;mce-LNAME&quot;>Last Name </label>    <input type=&quot;text&quot; value=&quot;&quot; name=&quot;LNAME&quot; class=&quot;&quot; id=&quot;mce-LNAME&quot;></div>    <div id=&quot;mce-responses&quot; class=&quot;clear&quot;>        <div class=&quot;response&quot; id=&quot;mce-error-response&quot; style=&quot;display:none&quot;></div>        <div class=&quot;response&quot; id=&quot;mce-success-response&quot; style=&quot;display:none&quot;></div>    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->    <div style=&quot;position: absolute; left: -5000px;&quot;><input type=&quot;text&quot; name=&quot;b_77142ece814d3cff52058a51f_94d040322a&quot; tabindex=&quot;-1&quot; value=&quot;&quot;></div>    <div class=&quot;clear&quot;><input type=&quot;submit&quot; value=&quot;Subscribe&quot; name=&quot;subscribe&quot; id=&quot;mc-embedded-subscribe&quot; class=&quot;button&quot;></div>    </div></form></div><script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->"
            class="mail-list-form">
          </iframe>
        </form>
      </div>
    </div>
    <div class="row">
      <img alt="image" src="img/app/software.png">
    </div>
    <div style="height: 80px; display: block"></div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
        <h3>We've made software for the web since day one.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="feature">
          <div class="text-center">
            <i class="ti-layout-grid2 icon-lg mb40 mb-xs-24 inline-block color-primary"></i>
            <h4 class="uppercase mb0">
              <strong>Scoreboard</strong>
            </h4>
            <h5>The Comprehensive KPI Solution</h5>
          </div>
          <h5>
            You only improve what you measure.
            <br> Set goals, receive alerts, and share dashboards.
          </h5>
          <a class="btn-lg btn" href="/product-scoreboard">More About Scoreboard</a>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="feature">
          <div class="text-center">
            <i class="mb40 mb-xs-24 inline-block color-primary ti ti-bookmark-alt icon-lg"></i>
            <h4 class="uppercase mb0">
              <strong>QuickScore</strong>
            </h4>
            <h5>Automate Your Balanced Scorecards</h5>
          </div>
          <h5>
            Bring your balanced scorecard to life
            <br> with interactive strategy maps and reports.
          </h5>
          <a class="btn-lg btn" href="/product-quickscore">Explore QuickScore</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">STRATEGY WORKSHOP</h3>
        <p class="lead">
          Do you have time to think about the future? Are there too many things demanding your attention? Don’t be fooled into thinking
          the future will take care of itself.
        </p>
        <p class="lead">
          We can help you find some time by adopting a tried and tested strategic process that puts strategy back on the agenda. Ask
          us to run a strategy workshop for you.
        </p>
        <a class="btn-lg btn" href="/training-strategy">STRATEGY WORKSHOP</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">SCORECARD TRAINING</h3>
        <p class="lead">
          Using a scorecard to manage your strategy is one of the easiest things to do as part of your process. But have you really
          thought about how to do this properly?
        </p>
        <p class="lead">
          Our process takes you through five simple steps that will enable you to organise your information. By creating a structure
          you can then report more effectively.
        </p>
        <a class="btn-lg btn" href="/training-scorecard">SCORECARD TRAINING</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-as">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">PRODUCT TRAINING</h3>
        <p class="lead">
            Our comprehensive on-site Getting Started package will guarantee a working system in a day 
        </p>
        <a class="btn-lg btn" href="/training-product">PRODUCT TRAINING</a>
      </div>
    </div>
  </div>
</section>
<section class="image-edge bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="mb-xs-24" src="img/app/software11.jpg">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h1 class="large mb40 mb-xs-16">QuickScore</h1>
      <h6 class="uppercase mb16">Balanced Scorecard</h6>
      <p class="lead mb40">
        QuickScore is the ultimate in Balanced Scorecard software. It is 100% web based so there is no application to install and
        no server to manage (however, we do have a Balanced Scorecard software download option if you need to install locally,
        for example for security reasons). The Balanced Scorecard format is used in QuickScore to allow you to quickly and
        efficiently build your scorecards.
      </p>
      <a class="btn-lg btn" href="#">QuickScore</a>
    </div>
  </div>
</section>

<section class="image-edge">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Screenshot" class="mb-xs-24" src="img/app/software03.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h1 class="large mb40 mb-xs-16">Scoreboard</h1>
      <h6 class="uppercase mb16">KPI Management Software</h6>
      <p class="lead mb40">
        If you interested in KPI Management (Key Performance Indicator) rather than strategic management, then you should look at
        our KPI Software tool called Scoreboard. Scoreboard is exactly the same application as QuickScore but uses a more
        generic business language in its menu structures. For example, where in QuickScore you might see the balanced scorecard
        term Performance Measure in Scoreboard you will see the term KPI. With both Quickcore and Scoreboard you can create
        really useful KPI Dashboards
      </p>
      <a class="btn-lg btn" href="/product-scoreboard">Scoreboard</a>
    </div>
  </div>

</section>

<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="feature">
          <div class="text-center">
            <h5 class="uppercase">QuickScore Trial</h5>
          </div>
          <p>
            Take out a free 30-day QuickScore trial today,
            <br> no obligation, no credit card required
          </p>
          <a class="btn-lg btn" href="/product-quickscore">FREE 30 DAY TRIAL</a>
        </div>

      </div>
      <div class="col-sm-6 text-center">
        <div class="feature">
          <div class="text-center">
            <h5 class="uppercase">Scoreboard Trial</h5>
          </div>
          <p>
            Take out a free 30-day QuickScore trial today,
            <br> no obligation, no credit card required
          </p>
          <a class="btn-lg btn" href="#">FREE 30 DAY TRIAL</a>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="image-bg parallax overlay">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="img/app/banner04.jpg">
  </div>
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-sm-6 col-md-5 text-right text-center-xs">
        <h1 class="large mb8">1000+</h1>
        <h6 class="uppercase">User using our software</h6>
      </div>
      <div class="col-md-2 text-center hidden-sm hidden-xs">
        <i class="ti-infinite icon icon-lg mt8 mt-xs-0"></i>
      </div>
        <h1 class="large mb8">and...</h1>
        <h6 class="uppercase">Counting ....</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb40 mb-xs-24">You can't win if you don't know the score.</h3>
        <a class="btn btn-lg btn-filled" href="/contact">Contact Us</a>
      </div>
    </div>

  </div>
</section>