<section class="page-title page-title-3 image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="img/cover15.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="bold">Product Training</h1>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="text-center pb40">
      <h2 class="mb0">Do you want to be up and running in a day?</h2>
      <p class="lead">
        Our comprehensive on-site Getting Started package will guarantee a working system in a day
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-gallery icon fade-3-4 inline-block mb16"></i>
          <h4>Learn the Basics</h4>
          <p class="lead">
            Learn how to navigate around the application, create, modify and delete objects, and export to Word, Excel, PowerPoint and
            PDF
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-package icon fade-3-4 inline-block mb16"></i>
          <h4>Build a Scorecard</h4>
          <p class="lead">
            Build your first scorecard, define areas/perspectives, create objectives and metrics, link them to initiatives/actions
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature">
          <i class="ti-layers icon fade-3-4 inline-block mb16"></i>
          <h4>Advanced Administration</h4>
          <p class="lead">
            Learn how to administer the system, use advanced build functions, add users and assign security permissions
          </p>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="bg-secondary">
  <div class="container">
    <div>
      <h4 class="mb0">
        <strong>QuickScore and Scoreboard Training</strong>
      </h4>
      <p class="lead">
        We will provide a consultant on your site to work side by side with your systems administrator. They will work together through
        the following:
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>In the morning:</h3>
        <ul>
          <li>Navigation – how to get around the application</li>
          <li>Functions – the functions that make up&nbsp;the system</li>
          <li>Scorecard – building a scorecard based on your data</li>
          <li>Linking Metrics – linking metrics to scorecards</li>
          <li>Dashboards – creating a standard strategy map</li>
          <li>Dashboards – creating departmental view</li>
          <li>Reports – creating a standard scorecard report</li>
          <li>Initiatives – creating an initiative linked to a metric</li>
          <li>Administration – adding a user and a group</li>
          <li>Administration – basic application functions</li>
        </ul>

      </div>
      <div class="col-sm-6">
        <h3>In the afternoon:</h3>
        <ul>
          <li>Advanced Briefing Books – covers and export</li>
          <li>Scorecards&nbsp;– how to create a calculation in a metric</li>
          <li>Metrics&nbsp;–&nbsp;metric types and advanced functions</li>
          <li>Related Items – linking initiatives to metrics</li>
          <li>Modelling a Structure – using ‘Connect’ to build</li>
          <li>Importing Data&nbsp;–&nbsp;using ‘Connect’ to import data</li>
          <li>Permissions – assigning permissions to groups</li>
          <li>Advanced Owners and Updaters&nbsp;&nbsp;– via admin</li>
          <li>Application Administration</li>
          <li>Advanced Administration functions</li>
        </ul>
      </div>
    </div>

  </div>

</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h3>Training Packages:</h3>
        <p class="lead">
          Our training packages are based on 1:1 consultation between a trainer and your assigned systems administrator. Training is
          an optional extra, we provide full training via on-line training videos and guides. However, if you would like
          to get started quickly, the 1:1 training package offers the best way forward.
        </p>

        <h3>Pricing</h3>
        <p class="lead">
          One Day On-Site: Complete the form above
        </p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <h3>Contact us about Training</h3>
        <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" class="validate-required" name="name" placeholder="Your Name">
          <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
          <input type="text" class="validate-required" name="name" placeholder="Company or Organizaition Name">
          <input type="text" class="validate-required" name="name" placeholder="Approximate Number to be Trained">
          <textarea class="validate-required" name="message" rows="4" placeholder="Message or Specific Requirements          "></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>

  </div>
</section>