<section class="page-title page-title-3 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="img/cover15.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="bold">Strategy Workshop</h3>
                <h4>
                    Three interactive sessions using the Balanced Scorecard methodology to define,
                    <br>
                    plan and integrate your strategy
                </h4>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="feed-item mb-xs-48">
            <div class="row mb16 mb-xs-0">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3>A Three-Session Strategy Workshop</h3>
                </div>
            </div>

            <div class="row mb0 mb-xs-16">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <p class="lead">
                        Many organisations are faced with a difficult challenge when asked to define their strategic objectives. The people responsible
                        are so driven by day to day activities that they have little time to engage in strategy. It is at
                        times like this that a ‘break-through’ action is required. Using a skilled external facilitator to
                        drive a strategy workshop can make a real difference.
                    </p>
                    <p class="lead">
                        The three sessions cover a five-step process as shown in the diagram below. By the end of the process, you will create a
                        strategy scorecard similar to the example at the end of this page.
                    </p>
                    <img alt="Article Image" class="mb40" src="img/app/training01.jpg">
                    <h3 class="mb0">The Method</h3>
                    <p class="lead">
                        Intrafocus consultants have decades of experience in strategy workshop facilitation. We have developed a three session strategy
                        workshop based on the strategic principles found in the Balanced Scorecard Methodology. The methodology,
                        which examines the four focus areas (or Perspectives) of Finance, Customer, Internal Processes and
                        Organisational Capacity builds a ‘balanced’ strategy through the use of facilitated exercises. The
                        three sessions take place during the mornings of three consecutive days.
                    </p>

                    <h3 class="mb0">The Sessions</h3>
                    <p class="lead">
                        The morning sessions last between four and six hours each depending on the number of attendees. The facilitator organises
                        ‘homework’ for the afternoon that usually takes around an hour to complete. This time is also used
                        by the facilitator to write a critique of the session output which is presented the next day.
                    </p>
                    <p class="lead">
                        The aim of the three sessions is to create an Integrated Strategy Map, similar to the illustration below. Our consultants
                        will also record all of the material generated in a Strategy document using a pre-defined template.
                        Please download a copy of the template shown on the right-hand side of this page.
                    </p>
                    <h3 class="mb0">Strategic Planning</h3>
                    <p class="lead">
                        There is often a tendency during a strategic planning workshop to meander away from the task-in-hand. A skilled strategy
                        workshop facilitator can ensure the participants are led back to the central topic while at the same
                        time allowing space to explore and develop new ideas. Whether it is incorporating a brand new digital
                        strategy or simply revising an existing communications strategy, our facilitators will be a hand
                        to help guide participant in the right direction.
                    </p>
                    <p class="lead">
                        Whether it is incorporating a brand new digital strategy or simply revising an existing communications strategy, our facilitators
                        have decades of experience that can help you develop and structure your ideas to create a plan that
                        will succeed.
                    </p>
                    <h3 class="mb20">Sample Output – Integrated Strategy Map</h3>
                    <img alt="Article Image" class="mb-xs-16" src="img/app/training02.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary">
    <div class="container">
        <h2>
            <strong>Topics Covered</strong>
        </h2>
        <div class="row">
            <div class="col-sm-4">
                <h3>Session 1</h3>
                <ul>
                    <li>Balanced Scorecard Principles</li>
                    <li>Assessment</li>
                    <li>Critique of any Material provided</li>
                    <li>Exercise 1 – Enablers/Challenges</li>
                    <li>Picture of the Future</li>
                    <li>Developing a Shared Understanding</li>
                    <li>Exercise 2 – Purpose/Vision</li>
                    <li>Components of a Value Proposition</li>
                    <li>Exercise 3 – List components</li>
                    <li>What is a Strategic Theme?</li>
                    <li>Exercise 4 – Create Themes and Results</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Session 2</h3>
                <ul>
                    <li>Review Work to Date</li>
                    <li>Balanced Scorecard</li>
                    <li>Strategic/Business Objectives</li>
                    <li>Perspectives</li>
                    <li>Strategy Map</li>
                    <li>Commentary</li>
                    <li>Exercise 1 – Creating Strategic Objectives</li>
                    <li>Exercise 2 – Combining the Maps</li>
                    <li>Intended Results Overview</li>
                    <li>Clarity in language ’Weasel Words’</li>
                    <li>Exercise 3&nbsp;– Write ‘Intended Results’</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Session 3</h3>
                <ul>
                    <li>Review Work to Date</li>
                    <li>Revise Strategic Objectives</li>
                    <li>Exercise 1 – Agree Final Strategy Map</li>
                    <li>Consolidated Strategy Map – Way Forward</li>
                    <li>Intended Results to&nbsp;Performance Measures</li>
                    <li>Meaningful Performance Measures</li>
                    <li>Exercise 2 – Create some Metrics</li>
                    <li>What are Strategic Initiatives?</li>
                    <li>Exercise 3a – Create initiatives</li>
                    <li>Exercise 3b – Prioritise Initiatives</li>
                    <li>Review Final Integrated Strategy Map</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    The Integrated Strategy Map differs from a normal strategy map in that it includes all of the major pieces of information
                    required to implement an integrated strategy. It starts with a vision and associated mission statement
                    (these items are usually available before the workshops start). Using the vision and mission as the baseline
                    for all the following work, guided exercises produce a set of strategic priorities and business objectives.
                    The work on the strategy map does not stop here. Our workshop sessions go on to develop result statements
                    for each business objective and then measures (with descriptions) and finally the initiatives (projects)
                    that drive change.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Strategy Workshop Info</h3>
                <p class="lead">
                    A three-session facilitated workshop based on the balanced scorecard methodology
                </p>
                <ul>
                    <li>
                        <strong>Type: </strong>Workshop, teaching, and exercises</li>
                    <li>
                        <strong>Location: </strong>On-site (your location)</li>
                    <li>
                        <strong>Participants: </strong>6-24 people</li>
                    <li>
                        <strong>Duration: </strong>Three consecutive mornings</li>
                    <li>
                        <strong>Price: </strong>Per delegate (please enquire)</li>
                </ul>
                <p class="lead">
                    The workshop is priced per-delegate depending on the number of delegates attending, please use the contact form below to
                    request pricing.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb0 inline-block p32 p0-xs">Contact us about Strategy Training</h3>
                <a class="btn btn-lg btn-white mb8 mt-xs-24" href="#">Contact Us</a>
            </div>
        </div>

    </div>
</section>