<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase">Get In Touch</h4>
        <p>
            We're a community of performance management enthusiasts, software developers, and support staff. We believe in hiring only the best people and then treating them incredibly well. Happy employees translates into better ideas, better productivity, and ultimately better products. It may not be the most common way to run a software company, but we think it's the best.
        </p>
        <hr>
        <h3>Hasya Office</h3>
        <p>
          <br> Jl. Salemba Raya No.5-5A, Paseban, Senen.  
          <br> Jakarta Pusat
        </p>
        <hr>
        <p>
          <strong>E:</strong> hello@hasyaperforma.com
          <br>
          <strong>P:</strong> +6181 3948 2726
          <br>
        </p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" class="validate-required" name="name" placeholder="Your Name">
          <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
          <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
  <div class="background-image-holder">
    <img alt="image" class="background-image" src="img/home24.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h4>
          We carefully choose features to include in our software. We agonize over every screen to make sure it's as simple as possible. We obsess over small details so you won't notice them.
        </h4>
        <a class="btn btn-lg btn-white mb0" href="/contact">Make An Enquiry</a>
      </div>
    </div>
  </div>
</section>