<section class="bg-primary pb0">
  <div class="container">
    <div class="row mb24 mb-xs-0">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="large">
          <strong>Scoreboard</strong>
        </h1>
        <h3 class="lead">
          KPI Software to help you create, manage and
          <br> maintain your
          <strong>Key Performance Indicators</strong>
        </h3>
      </div>
    </div>
    <div class="row">
      <img alt="image" src="img/app/software.png">
    </div>
    <div style="height: 80px; display: block"></div>
  </div>
</section>


<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase color-primary mb40 mb-xs-24">You can't win if you don't know the score
          <br>
        </h3>
        <p class="lead">
          coreboard helps you choose the right key performance indicators for your business, and then tracks those metrics to make
          sure you reach your strategic goals. It comes with all of the tools you need, like dashboards, reports, search,
          and alerts.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti ti-stats-up icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Track KPIs
              <br>
            </h5>
            <p>Scoreboard makes it easy to set goals for your key performance indicators and then track them over time.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti ti-sharethis icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">Build Dashboards</h5>
            <p>See your performance at a glance with dashboards. Scoreboard's freeform canvas gives you complete layout control.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti ti-layout-accordion-list icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Drill Down
              <br>
            </h5>
            <p>If you want more information, just click to drill down to underlying data, performance trends, and comments.
              <br>
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24 mb64">
          <div class="left">
            <i class="ti ti-cloud icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Cloud Software
              <br>
            </h5>
            <p>You use Scoreboard in a web browser, so there's never anything to install or update.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="ti ti-tablet icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Any Device
              <br>
            </h5>
            <p>Scoreboard works great on screens of all sizes, from your mobile phone to your boardroom projector.
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="ti-dashboard icon-sm"></i>
          </div>
          <div class="right">
            <h5 class="uppercase mb16">&nbsp;Share With Anyone
              <br>
            </h5>
            <p>Share your live dashboards for free. Guests don't need a license, and they don't have to log in.
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="cast-shadow mb-xs-24" src="img/app/software03.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16"><strong>KPI Software</strong></h3>
      <p class="lead mb40">
        If you are involved in management reporting, then you need a tool like Scoreboard. Scoreboard can help you link your Goals
        to your Business Objectives, KPIs and Initiatives. It also has a powerful dashboard and report functionality.
        <span>F1</span>
      </p>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software04.png">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Create Stylish KPI Dashboards</h3>
        <p class="lead">
          KPI Dashboards can be created using any of the data you have added to the system. This includes the metrics from your scorecards,
          graphs, strategy maps and images. The drag and drop interface means your KPI dashboards can be created in minutes.
          And don’t forget – they will be updated automatically whenever you update your scorecards – KPI software means
          no more PowerPoint!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="cast-shadow mb-xs-24" src="img/app/software03.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Build Scorecards Easily</h3>
      <p class="lead mb40">
        Build your scorecards quickly and easily with our intuitive interface. So you don’t have to worry about the structure, we
        will take care of that. All you have to do is get your data into the system.
      </p>
      <p class="lead mb40">
        We will even help you get started free of charge. Simply send us 10-30 metrics and we will build a small test system with
        a scorecard, dashboard and report so you can see your data in place.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-4 col-sm-5 mb-xs-24">
        <h3>Track Goals Over Time</h3>
        <p class="lead">
          All Key Performance Indicators and business objectives can be tracked over time with Scoreboard. Years of data can be viewed
          easily. Very old data can be archived at the touch of a button.
        </p>
        <p class="lead">
          In addition, with Scoreboard, performance thresholds can be changed and tracked as well. Bear in mind business performance
          goals may not be the same today as they were yesterday.
        </p>
      </div>
      <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software06.jpg">
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Screenshot" class="mb-xs-24" src="img/app/software05.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h3 class="mb40 mb-xs-16">Clarity of purpose – what you need and when you need it.</h3>
      <p class="lead mb40">
        All of the screens presented in Scoreboard have one thing in mind – to give you what you want, when you need it. This clarity
        of purpose is the main aim of Scoreboard. No distractions, just the information you need to run your business.
      </p>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software07.jpg">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Spreadsheet Styled Reports</h3>
        <p class="lead">
          If you prefer to work with numbers rather than dials and graphs then Scoreboard has a point-and-click report generator. You
          can build as many row and column reports as you like. These can be filtered to include or exclude all of the elements
          that make up your scorecard.
        </p>
        <a class="btn" href="#">Try Scoreboard</a>
      </div>
    </div>
  </div>
</section>


<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="cast-shadow mb-xs-24" src="img/app/software08.jpg">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Powerful Search Facility</h3>
      <p class="lead mb40">
        Free-form search will return all of the objects you are searching for. Objects can be tagged to enable group searches. You
        can get to the root of any problem by viewing underlying data, analysing metric trends, and reading other people’s
        comments.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img class="cast-shadow" alt="Screenshot" src="img/app/software09.jpg">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Useful Alert Subscriptions</h3>
        <p class="lead">
          Stay informed with useful alert subscriptions. Formal reviews may only be held once a month or once a quarter, it is essential
          to be kept informed.
        </p>
        <p class="lead">
          Set up alerts based on immediate triggers so you will never be surprised again. These can be scores going into the red or
          notes being added or a actual values moving outside a defined threshold
        </p>
      </div>
    </div>
  </div>
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-secondary">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Screenshot" class="mb-xs-24" src="img/app/software.png">
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Nothing to Install</h3>
      <p class="lead mb40">
        Scoreboard is a browser based application, as a result there is no installation required. We take care of the servers, operating
        system and the application. We apply updates so you do not have to worry. If you want to run Scoreboard in your own
        data centre, we can do that as well. We would be happy to provide you with the software.
      </p>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-md-7 col-sm-6 text-center mb-xs-24">
        <img alt="Screenshot" src="img/app/software10.jpg">
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Mobile Enabled</h3>
        <p class="lead">
          Scoreboard KPI software software is fully mobile enabled and the application has been built using a responsive platform.
        </p>
        <p class="lead">
          This means you can use all of the application features on what ever device you like from phone to tablet to laptop to desktop.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="image-square left bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="img/app/banner04.jpg">
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content">
    <h3>Free Online Training
      <br>
    </h3>
    <p class="mb0 lead">Scoreboard is very intuitive as an application. However, we are very happy to provide one-hour free online training to
      get you started. If you prefer to do things yourself, there are over 25 guides for our KPI Software ranging from getting-started
      to more complex integration and import. If you have a complex need, we can provide a full-day training session at your
      offices. For more information on Scoreboard training go to the Training pages.&nbsp;
      <br>
    </p>
  </div>
</section>

<section>
  <div class="container">
    <div class="feed-item mb96 mb-xs-48">
      <div class="row mb16 mb-xs-0">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h3>KPI Software and KPI Management
            <br>
          </h3>
        </div>
      </div>
      <div class="row mb32 mb-xs-16">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <p class="lead">Scoreboard is aimed at organisations that want to simply record and manage their KPI effectively. Scoreboard is
            one of the world’s most acclaimed KPI Managers. Scoreboard makes it easy for you to set up a Scorecard and not
            concern yourself with structure or terminology.
            <br>
          </p>
          <p class="lead">For some organisations it is more important to consolidate their KPIs into a KPI dashboard or several KPI dashboards.
            A dashboard gives you the ability to select measures and display them together or build a comparison. KPI management
            requires users to look at many pieces of information to allow them to make sensible decisions. It is vital that
            any anomalies are investigated with reference to related measures and not looked at in isolation. This is where
            a system like Scoreboard can add significant value.
            <br>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>