<section class="page-title page-title-3 image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="img/cover15.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="bold">Scorecard Training</h2>
        <h4>
          A one or two-day training session to build a set of
          <br> scorecards, dashboards and reports
        </h4>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="feed-item mb-xs-48">
      <div class="row mb16 mb-xs-0">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h3>One or two-day scorecard training</h3>
        </div>
      </div>

      <div class="row mb0 mb-xs-16">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <p class="lead">
            You have bought QuickScore or Scoreboard. You have started to build your scorecards or maybe you have completed a set of
            scorecards, dashboards and reports. Unfortunately, the first rush of excitement has gone. The system has not
            quite given your users what they expected. It is time to call in the experts. We can help you refresh your scorecards
            and make your system fly.
          </p>
          <p class="lead">
            The three sessions cover a five-step process as shown in the diagram below. By the end of the process, you will create a
            strategy scorecard similar to the example at the end of this page.
          </p>
          <h3 class="mb0">Topics Covered:</h3>
          <ul>
            <li>
              <strong>Users</strong> – Focus on the end users and what they want</li>
            <li>
              <strong>Scorecard Construction</strong>&nbsp; – Why it is important to get it right</li>
            <li>
              <strong>Dashboards</strong> – Bringing together information in useful ways</li>
            <li>
              <strong>Initiatives</strong> – How to link actions to objectives and metrics</li>
            <li>
              <strong>Data Reports</strong> – Building row and column data reports</li>
            <li>
              <strong>Briefings</strong> – Pulling everything together in a final report</li>
            <li>
              <strong>Administration</strong> – advanced functions and admin (day two)</li>
          </ul>

          <h3 class="mb0">Training Fees</h3>
          <p class="lead">
            A flat fee daily rate for a qualified instructor (plus travel and expenses). Typically, the training is aimed at a scorecard
            administrator but we highly recommend business users attend some of the sessions to provide an end-user requirement
            perspective.
          </p>

          <h3 class="mb0">Training Benefits</h3>
          <p class="lead">
            The training participants will leave with a thorough understanding of how the application can help the business. They will:
          </p>

          <h3 class="mb0">Who Should Attend</h3>
          <p class="lead">
            This training course is aimed primarily at scorecard administrators who have been tasked with the management of QuickScore
            or Scoreboard. It is also useful for business users who are actively using the application
          </p>

          <h3 class="mb0">Interactive Training</h3>
          <p class="lead">
            The purpose of the training is to build real scorecards, dashboards and reports. The scorecard administrator should come prepared with data that can be used in the system. This could be the existing scorecards that need to be revised, a system that needs to be audited or a set of spreadsheets that need to be translated and input.
          </p>
          <p class="lead">
            The training agenda will be set prior to the visit and can be as flexible or formal as required to get the job done.
          </p>

        </div>
      </div>
    </div>
</section>


<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb0 inline-block p32 p0-xs">Purchase Early-Bird tickets for 20% off</h3>
        <a class="btn btn-lg btn-white mb8 mt-xs-24" href="#">Purchase Tickets</a>
      </div>
    </div>

  </div>
</section>